<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <logger name="org.apache.cxf.services" level="INFO" additivity="false">
      <appender-ref ref="secureLog" />
   </logger>

   <logger name="org.apache.cxf" level="WARN" />
   <logger name="org.apache.cxf.ws.addressing" level="ERROR" />
</configuration>
