apiVersion: nais.io/v1alpha1
kind: Application
metadata:
  labels:
    team: tbd
  name: spenn-simulering
  namespace: tbd
spec:
  image: {{image}}
  port: 8080
  strategy:
    type: RollingUpdate
  liveness:
    initialDelay: 5
    path: /isalive
  readiness:
    initialDelay: 5
    path: /isready
  prometheus:
    enabled: true
    path: /metrics
  azure:
    application:
      enabled: true
  replicas:
    max: 12
    min: 2
    scalingStrategy:
      kafka:
        topic: tbd.rapid.v1
        consumerGroup: tbd-spenn-simulering-v1
        threshold: 200
  preStopHook:
    http:
      path: /stop
  resources:
    limits:
      memory: 1024Mi
    requests:
      cpu: 50m
      memory: 64Mi
  kafka:
    pool: nav-prod
  accessPolicy:
    outbound:
      rules:
        - application: logging
          namespace: nais-system
        - application: spenn-simulering-api
  env:
    - name: KAFKA_CONSUMER_GROUP_ID
      value: tbd-spenn-simulering-v1
    - name: KAFKA_RAPID_TOPIC
      value: tbd.rapid.v1
  observability:
    logging:
      destinations:
        - id: elastic
        - id: loki
