apiVersion: nais.io/v1alpha1
kind: Application
metadata:
  labels:
    team: tbd
  name: spenn-simulering-api
  namespace: tbd
spec:
  image: {{image}}
  port: 8080
  strategy:
    type: RollingUpdate
  liveness:
    initialDelay: 5
    path: /isalive
  readiness:
    initialDelay: 5
    path: /isready
    periodSeconds: 1
  observability:
    autoInstrumentation:
      enabled: true
      runtime: java
    logging:
      destinations:
        - id: elastic
        - id: loki
  prometheus:
    enabled: true
    path: /metrics
  azure:
    application:
      enabled: true
  ingresses:
    - https://spenn-simulering.ansatt.nav.no
    - https://spenn-simulering.intern.nav.no
  replicas:
    cpuThresholdPercentage: 75
    max: 12
    min: 2
  resources:
    limits:
      memory: 512Mi
    requests:
      cpu: 50m
      memory: 64Mi
  envFrom:
    - secret: spenn
  accessPolicy:
    inbound:
      rules:
        - application: spenn-simulering
    outbound:
      external:
        - host: ws-proxy.prod-fss-pub.nais.io
      rules:
        - application: logging
          namespace: nais-system
        - application: ws-proxy
          cluster: prod-fss
  env:
    - name: WS_PROXY_SCOPE
      value: api://prod-fss.tbd.ws-proxy/.default
    - name: SIMULERING_SERVICE_URL
      value: https://ws-proxy.prod-fss-pub.nais.io/cics/cics/services/simulerFpServiceWSBinding
    - name: GANDALF_BASE_URL
      value: https://ws-proxy.prod-fss-pub.nais.io/gandalf
